html {
    scroll-behavior: smooth;
}

body {
    font: 18px/1.5 "Baloo 2", sans-serif;
    padding: 0;
    margin: 0;
    background: linear-gradient(227deg, #2C3E50, #4CA1AF);
    background-size: 300% 300%;
    -webkit-animation: BackgroundAnimation 40s ease infinite;
    -moz-animation: BackgroundAnimation 40s ease infinite;
    animation: BackgroundAnimation 40s ease infinite;
}

.title {
    font-family: 'Share Tech', sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar, .footer {
    display: flex;
    justify-content: space-between;
}

.navbar, .navbar a {
    color: whitesmoke;
}

.hero {
    width: 100%;
    height: 100vh;
    -webkit-animation: fadeIn .2s ease;
    -moz-animation: fadeIn .2s ease;
    animation: fadeIn .2s ease;
}

.hero video {
    height: 100%;
    width: 100%;
    background: url('/password.cat/background-image.jpg') center center;
    background-size: cover;
    object-fit: cover;
}

.content {
    background: whitesmoke;
    max-width: 650px;
    margin: 40px auto;
    padding: 14px 30px;
    box-shadow: black 6px 6px 15px;
}

.slip {
    margin-top: -7em;
    position: relative;
    -webkit-animation: reveal .5s cubic-bezier(.18, .89, .32, 1.28);
    -moz-animation: reveal .5s cubic-bezier(.18, .89, .32, 1.28);
    animation: reveal .5s cubic-bezier(.18, .89, .32, 1.28);
}

h1 {
    text-align: center;
    line-height: 2;
}

h2, h3 {
    line-height: 1.2;
    font-family: 'Baloo Bhai 2', sans-serif;
}

a {
    color: #005467;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.animated-button.thar .footer {
    color: white;
    background: black;
    margin-top: 150px;
    padding: 40px;
}

@media (prefers-color-scheme: dark) {}

@-webkit-keyframes BackgroundAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes BackgroundAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes BackgroundAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes reveal {
    0% {
        opacity: 0;
        transform: translate(0, 100px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@-moz-keyframes reveal {
    0% {
        opacity: 0;
        transform: translate(0, 100px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        transform: translate(0, 100px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.testimony {
    display: flex;
    flex-wrap: wrap;
}

blockquote {
    flex: 1;
}

.footer {
    padding: 20px;
    margin-top: 100px;
    background-color: black;
    color: whitesmoke;
}

#generate {
    height: 100px;
    position: relative;
}

#generate .button {
    background: #2C3E50;
    height: 80px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;
    position: absolute;
    transform: translateY(-52%) translateX(-50%);
    top: 50%;
    left: 50%;
}

#generate .text {
    font: bold 1.25rem/1;
    color: whitesmoke;
    position: relative;
    transform: translateY(-52%);
    top: 50%;
    left: 0;
    right: 0;
}

#generate svg {
    width: 30px;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

#generate .check {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#generate #response {
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    color: whitesmoke;
    font-size: 1.3em;
}